<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.mapper.CategoryMapper">

    <delete id="deleteByUserId">
       DELETE
       FROM
           category
       WHERE
           user_id = #{value}
    </delete>

    <select id="selectChildCateIds" resultType="java.lang.Long">
        SELECT
            id
        FROM
            category
        WHERE
            path_trace LIKE CONCAT('%', #{pathTrace}, '%')
            AND del_flag = 0
    </select>

    <select id="findHotelsByConditions" resultType="Hotel">
        SELECT * FROM hotel
        WHERE
            (#{name} IS NULL OR name LIKE CONCAT('%', #{name}, '%'))
          AND (#{address} IS NULL OR address LIKE CONCAT('%', #{address}, '%'))
          AND (#{city} IS NULL OR city LIKE CONCAT('%', #{city}, '%'))
          AND (#{state} IS NULL OR state LIKE CONCAT('%', #{state}, '%'))
          AND (#{country} IS NULL OR country LIKE CONCAT('%', #{country}, '%'))
          AND (#{zipCode} IS NULL OR zip_code LIKE CONCAT('%', #{zipCode}, '%'))
    </select>

</mapper>